.selectors
    background: var(--white-color)
    padding: 30px 40px
    border-radius: var(--rounded-md)
    margin-top: 48px
    .title
        margin-right: 35px
        font-size: 20px
        font-style: normal
        font-weight: 500
        line-height: 100%
        letter-spacing: -0.8px
    .selectorsList
        display: flex
        align-items: center
        gap: 10px
        overflow: auto
        scrollbar-color: rgba(0,0,0,0) rgba(0,0,0,0)
        &::-webkit-scrollbar-thumb
            background-color: rgba(0,0,0,0)
        &::-webkit-scrollbar-track
            background-color: rgba(0,0,0,0)
    .top
        display: flex
        align-items: center
        gap: 10px
        border-bottom: 1px solid var(--gray-light-color)
        padding-bottom: 30px
    .bottom
        padding-top: 30px
        display: flex
        align-items: center
        gap: 10px