html
    scrollbar-width: thin
    scrollbar-color: #daebf5 #ffffff
    &::-webkit-scrollbar
        width: 10px
    
body
    background: var(--white-color)
    color: var(--dark-color)
.container
    padding-left: 50px
    padding-right: 50px
    @media(max-width: $tab)
        padding-right: 20px
        padding-left: 20px


.noScroll
    overflow: hidden
